.smallNavbar {
    width: 100vw;
    height: 10vh;
    margin: 0;
    position: absolute;
    top: 0;
    background-color: #70a1ff;
    border-bottom: 1px solid white;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navButton {
    color: #3B3B98;
    background: none;
    outline: none;
    border: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navButton.active {
    color: white;
}

.smallNavbarItem {
    height: 85%;
    border-right: 1px solid white;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.smallNavbarItem span {
    font-size: 3.2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.smallNavbarItem:last-child {
    border: none;
}

.smallNavbarItem i {
    font-size: 20px;
}

.pageComponent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallHeading {
    font-weight: bold;
    font-size: 1.4rem;
}

.inputDiv {
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputDiv label {
    font-weight: bold;
    margin-bottom: 1vh;
}

.newWeightDiv input {
    border: 2px solid #3B3B98;
    font-size: 3rem;
}

.newWeightDiv .numInput{
    width: 12vw;
    text-align: center;
}

.dataContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.dataSet {
    width: 100%;
    margin-bottom: 1vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.dataLabel {
    font-weight: 700;
}

.dataPoint {
    align-self: flex-end;
}

.dataPoint input {
    font-size: 1rem;
}

.flagSpan {
    margin-bottom: 1vh;
    color: #B33771;
}

.toggleButton {
    align-self: center;
    font-size: 1.1rem;
    height: 5vh;
    width: 30vw;
    border: 2px solid #3B3B98;
    border-radius: 4px;
    outline: none;
    display: inline-block;
}

.moreButtonsDiv {
    margin-top: 5vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.actionButton {
    text-align: center;
    font-size: 1.1rem;
    height: 6vh;
    width: 30vw;
    border: 2px solid #3B3B98;
    border-radius: 4px;
    outline: none;
    display: inline-block;
}

.deleteButton {
    color: white;
    background-color: #F97F51;
    outline: none;
}

.editButton {
    color: white;
    background-color: #1B9CFC;
    outline: none;
}

.passwordDiv {
    width: 70%;
    margin-top: 3vh;
    border: 3px solid #3B3B98;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordDiv input {
    font-size: 1.1rem;
    border: 2px solid #3B3B98;
}

.pwButtonsDiv {
    width: 90%;
    margin: 2vh 0 2vh 0;
    display: flex;
    justify-content: space-between;
}

.submitButton {
    text-align: center;
    font-size: 1.1rem;
    height: 5vh;
    width: 30vw;
    border: 2px solid #3B3B98;
    border-radius: 4px;
    outline: none;
    display: inline-block;
}

.moduleButton {
    color: white;
    background-color: #F97F51;
    height: 50px;
}

.headingDiv {
    width: 70%;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableDiv {
    overflow: auto;
    padding-bottom: 10px;
    width: 90vw;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    
}

th {
    white-space: nowrap;
    /* text-align: left; */
}

td, th {
    padding: 2px 8px 2px 8px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #3B3B98;
}

tr:first-child {
    border-top: 1px solid #3B3B98;
    border-bottom: none;
}
tr :first-child {border-left: 1px solid rgb(161, 161, 219)}
tr :last-child {border-right: 1px solid #3B3B98}

tr:nth-child(odd):nth-child(n+3) {background-color: #70a1ff}
tr:nth-child(even) {background-color: white}

tr:hover:nth-child(n+3) {background-color: #f5f5f5;}

tr.unitRow {
    text-align: center;
}

.arrow {
    margin-right: 5%;
    align-self: flex-end;
}

.chartDiv {
    width: 100%;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chartButtonsDiv {
    display: flex;
}

.chartButton {
    text-align: center;
    font-size: 0.8rem;
    outline: none;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    display: inline-block;
}

.chartButton.weight {
    background-color: #3B3B98;
    color: white;
}

.chartButton.deltaDay {
    background-color: #F97F51;
    color: white;
}

.chartButton.deltaBirthWeight {
    background-color: #B33771;
    color: white;
}

.chartButton.avg7day {
    background-color: #009432;
    color: white; 
}

.newWeightDiv {
    position: absolute;
    top: 10vh;
    background: white;
}

.signOutButton {
    background-color: #F97F51;
    color: white;
    border-radius: 8px;
    font-size: 3rem;
    margin-top: 30vh;
}